<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-covid-heading">Create or edit a Covid</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nbrtest">Nbrtest</label>
                    <input type="text" class="form-control" name="nbrtest" id="field_nbrtest"
                           formControlName="nbrtest"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_positif">Positif</label>
                    <input type="text" class="form-control" name="positif" id="field_positif"
                           formControlName="positif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_negatif">Negatif</label>
                    <input type="text" class="form-control" name="negatif" id="field_negatif"
                           formControlName="negatif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gueris">Gueris</label>
                    <input type="text" class="form-control" name="gueris" id="field_gueris"
                           formControlName="gueris"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_deces">Deces</label>
                    <input type="text" class="form-control" name="deces" id="field_deces"
                           formControlName="deces"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
