<div>
    <h2 id="page-heading">
        <span>Covids</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-covid" [routerLink]="['/covid/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Covid
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="covids?.length === 0">
        <span>No covids found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="covids && covids.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbrtest"><span>Nbrtest</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="positif"><span>Positif</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="negatif"><span>Negatif</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gueris"><span>Gueris</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deces"><span>Deces</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let covid of covids ;trackBy: trackId">
                    <td><a [routerLink]="['/covid', covid.id, 'view']">{{ covid.id }}</a></td>
                    <td>{{ covid.nbrtest }}</td>
                    <td>{{ covid.positif }}</td>
                    <td>{{ covid.negatif }}</td>
                    <td>{{ covid.gueris }}</td>
                    <td>{{ covid.deces }}</td>
                    <td>{{ covid.date | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/covid', covid.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/covid', covid.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(covid)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="covids && covids.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
