<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commentaire">
            <h2><span>Commentaire</span> {{ commentaire.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ commentaire.libelle }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ commentaire.date }}</span>
                </dd>
                <dt><span>Vote</span></dt>
                <dd>
                    <span>{{ commentaire.vote }}</span>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <div *ngIf="commentaire.question">
                        <a [routerLink]="['/question', commentaire.question?.id, 'view']">{{ commentaire.question?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commentaire', commentaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
