<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demande">
            <h2><span jhiTranslate="gatewayApp.demandeDemande.detail.title">Demande</span> {{demande.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.demandeDemande.lastName">Last Name</span></dt>
                <dd>
                    <span>{{demande.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.demandeDemande.firstName">First Name</span></dt>
                <dd>
                    <span>{{demande.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.demandeDemande.imagePiece">Image Piece</span></dt>
                <dd>
                    <div *ngIf="demande.imagePiece">
                        <a (click)="openFile(demande.imagePieceContentType, demande.imagePiece)">
                            <img [src]="'data:' + demande.imagePieceContentType + ';base64,' + demande.imagePiece" style="max-width: 100%;" alt="demande image"/>
                        </a>
                        {{demande.imagePieceContentType}}, {{byteSize(demande.imagePiece)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.demandeDemande.user">User</span></dt>
                <dd>
                    {{demande.user?.login}}
                </dd>
                <dt><span jhiTranslate="gatewayApp.demandeDemande.type">Type</span></dt>
                <dd>
                    <div *ngIf="demande.type">
                        <a [routerLink]="['/type', demande.type?.id, 'view']">{{demande.type?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demande', demande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
